/*
* 
  MEDIAS SOCIAIS 
*
*/

.media {
  height: 35px;
  padding: 0 20px;
  background-color: var(--main-green);
}

.social-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-media__content {
  display: flex;
  align-items:center;
}

.social-media__content i {
  font-size: 2rem;
}

.social-media__content i + i {
  margin-left: 15px;
}

.social-media__content p {
  font-size: 14px;
  margin-left: 10px;
  font-weight: 600;
}

/*
*
  NAVBAR 
*
*/

.navigation{
  background-color: var(--main-black);
  padding: 1.5rem;
  transition: position .2s ease;
}

.navigation__logo {
  width: 120px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__burger {
  display: none;
}

.list {
  display:flex;
  justify-content: space-between;
  list-style-type: none;
}

.list__item {
  font-size: 1.6rem;
}

.list__item + .list__item{
  margin-left: 2.4rem;
}


.list__link {
  text-decoration: none;
  color:var(--text-white);
}

.fixed {
  position: fixed;
  z-index: 3;
  top:0;
}

/*
*
  HEADER 
*
*/

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-black);
}

.header div{
  display: block;
  max-width: 984px;
  /* background-image: url("../assets/img/banner-small.png"); */
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
  width: 100%;
  height: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--text-white);
}
.header div h1, .header div h2{
  z-index: 2;
}

.header div::before{
  z-index: 1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.header__banner{
  width: 100%;
  height: 400px;
  object-fit: cover;
}

/*
*
  MAIN 
*
*/


/*
*
  ABOUT 
*
*/

.section__about {
  background-color: var(--main-black);
  color: var(--text-white);
}

.about {
  margin-top: 40px;
}

.about > div{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
}

.about__content{
  width: 50%;
}

.about__content p{
  font-size: 1.6rem;
}

.about__image{
  width: 400px;
  height: 400px;
  background-color: white;
}

/*
*
  MEDIA QUERIES 
*
*/

@media (max-width: 767px) {
  .header div{
    padding:22.86% 0;
  }

  .header div::before{
    height: 0;
    padding: 22.86% 0;
    top: 0;
  }
}

@media (min-width: 768px) {
  .header div{
    max-width: 1200px;
    /* background-image: url("../assets/img/banner-medium.png"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 255px;
  }
}

@media (min-width: 1024px) {
  .header div{
    max-width: 1600px;
    /* background-image: url("../assets/img/banner-large.png"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
  }
}