/*
* 
  MEDIAS SOCIAIS 
*
*/

.media {
  height: 35px;
  padding: 0 20px;
  background-color: var(--main-green);
}

.social-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-media__content {
  display: flex;
  align-items:center;
}

.social-media__content i {
  font-size: 2rem;
}

.social-media__content i + i {
  margin-left: 15px;
}

.social-media__content p {
  font-size: 14px;
  margin-left: 10px;
  font-weight: 600;
}

/*
*
  NAVBAR 
*
*/

.navigation{
  background-color: var(--main-black);
  padding: 1.5rem;
  transition: position .2s ease;
}

.navigation__logo {
  width: 120px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__burger {
  display: none;
}

.list {
  display:flex;
  justify-content: space-between;
  list-style-type: none;
}

.list__item {
  font-size: 1.6rem;
}

.list__item + .list__item{
  margin-left: 2.4rem;
}


.list__link {
  text-decoration: none;
  color:var(--text-white);
}

.fixed {
  position: fixed;
  z-index: 1;
  top:0;
}

/*
*
  HEADER 
*
*/

.header{
  background-color: var(--main-black);
  padding: 20px;
}

.header > div {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /* height: min-content; */
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.header__title {
  color: var(--text-white);
  margin: 40px 0;
}

.header__title h2 {
  font-size: 2.8rem;
  text-align: center;
}

.header__title img {
  width: 12rem;
  margin-bottom: 10px;
  
}

.header__headline {
  width: 80%;
  font-size: 2.4rem;
  font-weight:bold;
  color: var(--text-white);  
}

.header__headline p:first-child {
  color: var(--main-green);
  background-color: rgb(78, 76, 76);
  color: #fff;
  padding: 15px;
  min-width: 320px;
  width:min-content;
  border-radius: 7.5px;
  position: relative;
}

.header__headline p:first-child::after {
  content: '';
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-top: 15px solid rgb(78, 76, 76);
  position: absolute;
  top: 0;
  left:-10px;
}

.header__headline p + p {
  margin-top: 20px;
  background-color: var(--main-green);
  border-radius: 7.5px;
  padding: 15px;
  position: relative;
  min-width: 300px;
  width:min-content;
  margin-left: auto;
}

.header__headline p + p::after {
  content: '';
  width: 0;
  height: 0;
  border-right: 15px solid transparent;
  border-bottom: 15px solid transparent;

  border-top: 15px solid var(--main-green);
  position: absolute;
  top: 0;
  right:-10px;
}


.header__svg {
  margin-top: 4rem;
}

.header__svg img {
  width: 100%;
  min-width: 300px;
  max-width: 800px;
}


/* .header__banner{
  width: 100%;
  height: 400px;
  object-fit: cover;
} */

/*
*
  MAIN 
*
*/


/*
*
  ABOUT 
*
*/

.section__about {
  background-color: var(--main-black);
  color: var(--text-white);
}

.about {
  margin-top: 40px;
}

.about > div{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
}

.about__content{
  width: 50%;
}

.about__content p{
  font-size: 2rem;
  line-height: 32px;
}

.about__image{
  width: 400px;
  height: 400px;
  background-color: #aaa;
}
/*
*
  MEDIA QUERIES 
*
*/

@media (max-width: 767px) {
  /* .header div{
    padding:22.86% 0;
  }

  .header div::before{
    height: 0;
    padding: 22.86% 0;
    top: 0;
  } */
}

@media (min-width: 768px) {
  /* .header div{
    max-width: 1200px;
    background-image: url("../assets/img/banner-medium.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 255px;
  } */

  .header > div {
    flex-direction: row;
  }

  .header__content{
    align-items: baseline;
  }
  
  .header__title h2 {
    font-size: 2.4rem;
    text-align: start;
  }

}

@media (min-width: 1024px) {
  /* .header div{
    max-width: 1600px;
    background-image: url("../assets/img/banner-large.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
  } */
}